@media screen and (max-width: 1830px) {
    .body{
        width: 65%;
    }
}
@media screen and (max-width: 1600px) {
    .body{
        width: 75%;
         overflow-x: hidden;
    }
}
@media screen and (max-width: 1360px) {
    .body{
        width: 85%;
         overflow-x: hidden;
    }
    .navbar a{
        padding: 0 0.3rem;
    }
    .navbar{
        padding: 0.8rem 3rem;
    }
}
@media screen and (max-width: 1170px){
    .menu{
        grid-template-columns: 1fr;
    }
    .menu .menu-card{
        width: 85%;
        margin: auto;
    }
}
@media screen and (max-width: 800px){
    #h1{
        font-size: 20px;
    }
}
@media screen and (max-width: 570px){
    .icon{
        display: none;
    }
    .buttons-order{
        margin-right: 3rem;
    }
}
@media screen and (max-width: 490px){
    .menu .container {
        flex-direction: column;
        align-items: center;
    }
    
    .para-menu h4{
        text-align: center !important;
    }
    .icon{
        display: none;
    }
}
@media screen and (max-width: 330px){
   .button-order {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

}
@media screen and (max-width: 1220px) {
    .body{
        width: 85%;
        overflow-x: hidden;
    }
    .navbar li,.navbar button{
        display: none;
    }
    #bars{
        display: inline;
    }
    .navbar{
        padding: 0.6rem 1.5rem;
    }
    .cards{
        grid-gap: 0;
    }
    .cards .card{
        width: 73%;
    }
    .options .card i{
        margin-left: 10rem;
    }
    .footer{
        width: 100%;
    }
}
@media screen and (max-width: 1115px){
    .cards{
        grid-template-columns: 1fr 1fr;
    }
    .options{
        grid-template-columns: 1fr 1fr;
    }
    .body .home .text h1{
        font-size: 40px;
    }
    .body .home .text h2{
        font-size: 21px;
    }
    .body .home .text{
        margin-top: 10%;
    }
   .footer{
       grid-template-columns: 1fr 1fr;
   }
   .text-2{
       margin-top: 0;
   }
}
@media screen and (max-width: 910px){
    .text-2 p{
        font-size: 17px;
    }
    .f-20 {
    font-size: 17px;
}
.app-text h1{
    font-size: 20px;
}
.app-text{
    margin-top: 2rem;
}
.body .home .text h1 {
        padding: 1rem 0;
    }
}
@media screen and (max-width: 730px){
    .body{
        width: 95%;
    }
    .body .home .text h1{
        font-size: 33px;
    }
    .body .home .text h2{
        font-size: 17px;
    }
    .body .home .text h1 {
        padding: 0;
    }
}
@media screen and (max-width: 640px){
    .cards{
        grid-template-columns: 1fr;
        margin-left: 4rem;
    }
    .options{
        grid-template-columns: 1fr;
        margin-left: 4rem;
    }
    .text-2{
        margin-top: 0 !important;
    }
    .body .home .text h1 {
        font-size: 26px;
    }
    .text-2 p {
    font-size: 14px;
}
}
@media screen and (max-width: 550px){
    .app{
        grid-template-columns: 1fr;
    }
    .app-img img {
    height: 86%;
    width: 86%;
}
.footer{
    grid-template-columns: 1fr;
}

}
@media screen and (max-width: 450px){
.about{
    grid-template-columns: 1fr !important;
}
.text-2{
    padding-left: 0 !important;
}}
@media screen and (max-width: 430px){
   .cards{
        grid-template-columns: 1fr;
        margin-left: 2rem;
    }
    .options{
        grid-template-columns: 1fr;
        margin-left: 2rem;
    } 
    .app-text{
        margin-top: 0;
        margin-left: 0;
    }
    .body .home{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width:370px){
.options .card i{
    margin-left: 0;
}
.card {
    margin-left: 0;
}
.options img{
    width: 75%;
}
.footer h3{
    font-size: 13px;
}
}